@charset "UTF-8";

.content {
  height: 500px;
}

.bg-image {
  background: url(../../image/coffee-background.jpg);
}

.no-repeat {
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.cover {
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.contain {
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}